body{
    margin: auto;
    background-color: #2c2829;
}

.header{
    height: 100px;
    margin: 50px;
    padding: 0 30px;
    font-family: 'Courier New', sans-serif;
    color: #b1a7aa;
}
h1{
    display: inline-block;
    font-size: 70px;
}
/*.nav,h1,nav {
    display: inline-block;
    margin: 0;
*/
nav{
    float: right;
    overflow: visible;
    height: 100px;


}
nav .nav{
    overflow: visible;
    height: 100px;
    display: inline-block;
    margin: 0;
}
nav .nav li{
    display: inline-block;
    margin: 0px;
    height: 100px;
    width: 100px;
    text-align: center;
    overflow: visible;


}

nav .nav li a{
   background-image: url("img/nav.png") ;
   width: 59px;
   height: 74px;
   display: inline-block;
   color: #2c2829;
}
nav .nav li a:hover{
    cursor: pointer;
}
nav .nav li a span{
    display: inline-block;
    padding: 100px 0;
}
nav .nav li .info{
    background-position: 0 -141px;
    height: 74px;
}
nav .nav li .contacts{
    background-position: 0 -282px;
}

#big-container{
    width: 1000px;
    min-width: 600px;
    margin: 15px auto;
    padding: 10px;
    background: -webkit-linear-gradient(top, #2c2829 20%, #4a734d 80%);
    border: 1px solid #b1a7aa;
}

#articles{
    display: inline-block;
    width: 60%;
    padding: 10px;
}
article {
    padding: 10px;
    width: 100%;
}

article:hover{
    background-color: #e2d4d8;
}

    #articles span{
        font-size: 24px;
    }

    #articles .box-for-img{
        width: 300px;
        height: 200px;
        display: inline-block;
        margin: 20px;
    }
        #articles .odd .box-for-img{
            float: right;
        }
        #articles .even .box-for-img{
            float: left;
        }
#articles article p{
    text-align: justify;
}

#contacts{
    font-family: 'Times New Roman';
    font-size: 14px;
    display: inline-block;
    width: 35%;
    float: right;
}
    #contacts h3{
        font-family: 'Kaushan Script';
        font-size: 18px;
    }

    #contacts p{
        padding: 0;
        margin: 0;
    }
footer{
    color: #b1a7aa;
    float: right;
    padding: 20px;
}